<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app template</title>
    <link rel="'stylesheet" href="/public/style.css">
</head>
<body>
    <h2>this is a test</h2>
<h2>heres how you set up and push to heroku</h2>
<ul>
    <li>git init</li>
    <li>heroku login</li>
    <li>heroku create can chose name</li>
    <li>echo 'web: node server.js">procfile</li>
    <li>git add .</li>
    <li> git commit -m 'changes'</li>
    <li>git push heroku main</li>
    <li>remember to take out .env when pushing</li>
</ul>
<script src ='/public/main.js'></script>
    
</body>
</html>
